{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <span>This is the profile of {{ specificUser.username }}</span><br/>
        <span>with email {{ specificUser.email }}.</span>
    </div>
{% endblock %}

